/* CSS Variables */
:root {
    --white: #ffffff;
    --dark-gray: #4e4e4e;
    --mid-gray: #8e8e8e;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Navigation */
nav {
    width: 100%;
    height: 5rem;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav h1 {
    margin-left: 2rem;
    font-size: 1.6em;
    font-weight: 1000;
    text-align: center;
    color: var(--dark-gray);
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 2rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--dark-gray);
}

.nav-component {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-component i {
    margin: 0 0.5rem;
    font-size: 1.6em;
    color: var(--dark-gray);
}

/* Main Container */
.container {
    width: 100%;
    height: 75%;
    background-color: var(--black);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container div {
    width: 350px;
    height: 350px;
    background-color: var(--mid-gray);
}

/* Secondary Section */
.container-two {
    height: 80vh;
    background-color: var(--dark-gray);
    color: var(--white);
}

.container-two-content {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-two-content h1 {
    font-size: 3em;
    text-align: center;
}

.container-two-content p {
    font-size: 1.2em;
    line-height: 1.8em;
    text-align: center;
}
